.bg {
    position: relative;
    height: 600px;
    /* background-color: tomato;
    background-image: url(../img/m01.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; 
    background-position: center center;
    background-size: cover; */
    background: url(../img/m01.jpg) no-repeat fixed center center/cover;
    margin: 0 0 2000px 0;
}

.bg::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to left, transparent 30%, #444 70%);
}

figure {
    width: 300px;
    margin: 0 auto;
}

figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.video {
    position: relative;
}

.video p {
    position: absolute;
    bottom: -50px;
    right: 0;
    font-size: 200px;
    font-weight: 900;
    color: #fff;
}

.video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.sun {
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: #ff0;
    animation: sunMove 0.1s linear infinite;
    font-size: 0;
    /*linear속도 infinite반복*/
}

.sun::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -60px;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: #ff0;
}

.sun::after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -60px;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: #ff0;
}

.sun span::before {
    content: "";
    position: absolute;
    top: -60px;
    left: calc(50% - 2px);
    width: 4px;
    height: 50px;
    border-radius: 2px;
    background: #ff0;
}

.sun span::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: calc(50% - 2px);
    width: 4px;
    height: 50px;
    border-radius: 2px;
    background: #ff0;
}





@keyframes sunMove {
    to {
        transform: rotate(360deg);
    }
}